pid_file = "/tmp/vault-agent.pid"

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "/vault/secrets/role_id"
      secret_id_file_path = "/vault/secrets/secret_id"
    }
  }
}

template {
  source      = "/vault/templates/prod-env.ctmpl"
  destination = "/vault/secrets/.env.prod"
}
