global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['backend:8000']

  - job_name: 'redpanda'
    metrics_path: /public_metrics
    static_configs:
      - targets: ['redpanda:9644']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']
